@import '@/styles/variables';

.courses {
  overflow: hidden;
  padding: 64px 0 96px;
  background: $background--red;

  // @media screen and (max-width: 1024px) {
  //   padding: 64px 0;
  // }

  @media screen and (max-width: 767px) {
    padding: 48px 0;
  }

  & h2 {
    color: $color--light-100;
  }

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    // Table
    & .table {
      background-color: white;
      padding: 24px;
      max-width: 720px;
      width: 100%;

      @media screen and (max-width: 580px) {
        padding: 16px;
      }

      @media screen and (max-width: 480px) {
        padding: 12px;
      }

      @media screen and (max-width: 400px) {
        padding: 12px 8px;
      }

      & .table__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .table__title,
        & .table__subtitle {
          text-transform: uppercase;
        }

        & .table__title {
          color: $color--dark-900;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;

          @media screen and (max-width: 1080px) {
            font-size: 30px;
            line-height: 36px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 32px;
            line-height: 40px;
          }

          @media screen and (max-width: 640px) {
            font-size: 30px;
            line-height: 36px;
          }

          @media screen and (max-width: 580px) {
            font-size: 28px;
            line-height: 32px;
          }

          @media screen and (max-width: 480px) {
            font-size: 26px;
            line-height: 28px;
          }

          @media screen and (max-width: 400px) {
            font-size: 24px;
            line-height: 28px;
          }
        }

        & .table__subtitle {
          color: $color--dark-900;
          font-size: 28px;
          line-height: 40px;
          font-weight: 700;

          @media screen and (max-width: 1080px) {
            font-size: 26px;
            line-height: 32px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 28px;
            line-height: 40px;
          }

          @media screen and (max-width: 640px) {
            font-size: 26px;
            line-height: 32px;
          }

          @media screen and (max-width: 580px) {
            font-size: 24px;
            line-height: 28px;
          }

          @media screen and (max-width: 480px) {
            font-size: 22px;
            line-height: 24px;
          }

          @media screen and (max-width: 400px) {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }

      & .table__levels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 12px 0;

        @media screen and (max-width: 480px) {
          margin: 8px 0;
        }

        & .table__level {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 6px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          @media screen and (max-width: 1200px) {
            font-size: 15px;
            line-height: 20px;
          }

          @media screen and (max-width: 1080px) {
            font-size: 13px;
            line-height: 20px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 16px;
            line-height: 24px;
          }

          @media screen and (max-width: 640px) {
            font-size: 15px;
            line-height: 20px;
          }

          @media screen and (max-width: 580px) {
            font-size: 13px;
            line-height: 20px;
          }

          @media screen and (max-width: 480px) {
            font-size: 12px;
            line-height: 20px;
            gap: 2px;
          }

          @media screen and (max-width: 400px) {
            font-size: 11px;
            line-height: 20px;
          }

          & svg {
            flex: none;
            width: 40px;
            height: 12px;

            @media screen and (max-width: 1200px) {
              width: 32px;
            }

            @media screen and (max-width: 1024px) {
              width: 40px;
            }

            @media screen and (max-width: 640px) {
              width: 32px;
            }

            @media screen and (max-width: 580px) {
              width: 28px;
            }

            @media screen and (max-width: 480px) {
              width: 24px;
            }

            @media screen and (max-width: 400px) {
              width: 20px;
            }
          }
        }
      }

      // Schedule / Days / Timetable
      & .table__schedule {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 16px 0;

        @media screen and (max-width: 480px) {
          margin: 12px 0;
          gap: 8px;
        }

        @media screen and (max-width: 400px) {
          margin: 8px 0;
          gap: 6px;
        }

        & .table__day {
          display: flex;
          flex-direction: column;

          & .table__day__name {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $color--red-600;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            padding: 4px 6px;
            letter-spacing: 0.25em;
            font-size: 12px;
            line-height: 12px;

            @media screen and (max-width: 1200px) {
              font-size: 11px;
              line-height: 11px;
              padding: 3px 6px;
            }

            @media screen and (max-width: 1024px) {
              font-size: 12px;
              line-height: 12px;
              padding: 4px 6px;
            }

            @media screen and (max-width: 640px) {
              font-size: 11px;
              line-height: 11px;
              padding: 3px 6px;
            }

            @media screen and (max-width: 480px) {
              font-size: 10px;
              line-height: 10px;
            }
          }

          & .timeslots {
            background-color: white;
            border: 1px solid $color--light-700;

            & .timeslot {
              display: flex;
              flex-direction: row;

              & + .timeslot {
                border-top: 1px solid $color--light-700;
              }

              & .course {
                display: flex;
                flex-direction: row;
                width: 50%;
                padding: 3px 6px;

                // & + .course {
                //   border-left: 1px solid $color--light-900;
                // }

                & .course-spec {
                  display: flex;
                  flex-direction: column;
                  width: 50px;

                  @media screen and (max-width: 1200px) {
                    width: 44px;
                  }

                  @media screen and (max-width: 1024px) {
                    width: 50px;
                  }

                  @media screen and (max-width: 640px) {
                    width: 44px;
                  }

                  @media screen and (max-width: 480px) {
                    width: 40px;
                  }

                  @media screen and (max-width: 400px) {
                    width: 36px;
                  }

                  & .course-spec__time {
                    font-family: $font--condensed;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.05em;
                    font-stretch: condensed;

                    @media screen and (max-width: 1200px) {
                      font-size: 15px;
                      line-height: 20px;
                    }

                    @media screen and (max-width: 1024px) {
                      font-size: 16px;
                      line-height: 20px;
                    }

                    @media screen and (max-width: 640px) {
                      font-size: 15px;
                      line-height: 20px;
                    }

                    @media screen and (max-width: 480px) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    @media screen and (max-width: 400px) {
                      font-size: 13px;
                      line-height: 16px;
                    }
                  }

                  & .course-spec__level {
                    & svg {
                      width: 40px;
                      height: 12px;

                      @media screen and (max-width: 1200px) {
                        width: 32px;
                        height: 12px;
                      }

                      @media screen and (max-width: 1024px) {
                        width: 40px;
                        height: 12px;
                      }

                      @media screen and (max-width: 640px) {
                        width: 32px;
                        height: 12px;
                      }

                      @media screen and (max-width: 400px) {
                        width: 28px;
                        height: 12px;
                      }
                    }
                  }
                }

                & .course-info {
                  display: flex;
                  flex-direction: column;

                  & .course-info__name {
                    font-family: $font--condensed;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    font-stretch: condensed;

                    @media screen and (max-width: 1200px) {
                      font-size: 16px;
                      line-height: 20px;
                    }

                    @media screen and (max-width: 1024px) {
                      font-size: 18px;
                      line-height: 22px;
                    }

                    @media screen and (max-width: 640px) {
                      font-size: 16px;
                      line-height: 20px;
                    }

                    @media screen and (max-width: 480px) {
                      font-size: 14px;
                      line-height: 18px;
                    }

                    @media screen and (max-width: 400px) {
                      font-size: 12px;
                      line-height: 16px;
                    }
                  }

                  & .course-info__instructor {
                    font-size: 8px;
                    line-height: 12px;
                    font-weight: 700;
                    letter-spacing: 0.3em;
                    color: $color--dark-500;
                    text-transform: uppercase;

                    @media screen and (max-width: 400px) {
                      font-size: 7px;
                      line-height: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      & .table__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 12px 0 0;

        & .table__footer__left,
        & .table__footer__right {
          display: flex;
          flex-direction: column;
          color: $color--dark-900;
          font-size: 12px;
          line-height: 16px;
          font-weight: 700;

          @media screen and (max-width: 1080px) {
            font-size: 11px;
            line-height: 14px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 16px;
          }

          @media screen and (max-width: 640px) {
            font-size: 11px;
            line-height: 14px;
          }

          @media screen and (max-width: 480px) {
            font-size: 10px;
            line-height: 12px;
          }
        }

        & .table__footer__right {
          text-align: right;
        }

        & .table__footer__logo {
          & img {
            @media screen and (max-width: 480px) {
              width: 88px;
            }
          }
        }
      }
    }

    // Old: Image
    // & .image {
    //   flex: none;
    //   width: min(800px, calc(50% - 20px));

    //   border: 8px solid $color--light-100;
    //   background-color: $color--light-100;
    //   box-sizing: content-box;
    //   box-shadow: 0px 40px 160px rgba(0, 0, 0, 0.2);

    //   @media screen and (max-width: 1440px) {
    //     width: min(800px, calc(50% - 40px));
    //   }

    //   @media screen and (max-width: 1024px) {
    //     width: min(800px, calc(100% - 10px));
    //     border: none;
    //   }
    // }

    // Old: PDF Card
    // & .pdf-card {
    //   padding: 28px 28px;
    //   background-color: $color--light-100;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   margin-bottom: 16px;
    //   border-radius: 2px;

    //   @media screen and (max-width: 1024px) {
    //     padding: 32px 28px 26px;
    //   }

    //   & .pdf-card__main {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     width: 100%;
    //     margin: 0 0 24px;

    //     @media screen and (max-width: 1024px) {
    //       width: auto;
    //     }

    //     & .pdf-card__image {
    //       width: 84px;
    //       height: 104px;
    //       margin-right: 24px;

    //       @media screen and (max-width: 480px) {
    //         margin: 0 0 16px 0;
    //       }

    //       & img {
    //         width: 100%;
    //         height: 100%;
    //       }
    //     }

    //     & .pdf-card__title {
    //       color: $color--dark-900;
    //       font-size: 28px;
    //       line-height: 28px;
    //       font-weight: 700;
    //       margin: 8px 0;
    //       letter-spacing: -0.01em;
    //     }

    //     & .pdf-card__description {
    //       color: $color--dark-500;
    //       font-size: 280x;
    //       line-height: 28px;
    //       max-width: 260px;
    //     }
    //   }

    //   & .pdf-card__button {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     color: $color--light-100;
    //     font-weight: 700;
    //     font-size: 20px;
    //     line-height: 24px;
    //     letter-spacing: 0.01em;
    //     background-color: $color--red-600;
    //     width: max-content;
    //     transition: opacity 0.3s;
    //     border-radius: 28px;
    //     height: 56px;
    //     padding: 12px 28px;

    //     @media screen and (max-width: 480px) {
    //       font-size: 20px;
    //       line-height: 24px;
    //     }

    //     &:hover {
    //       background-color: $color--red-700;
    //     }

    //     &:focus-within {
    //       box-shadow: 0 0 0 4px lightgreen;
    //     }

    //     & span {
    //       margin: 0 8px;
    //     }

    //     & svg {
    //       margin: 0 4px;
    //     }
    //   }
    // }

    // Content
    & .content {
      flex: none;
      display: flex;
      flex-direction: column;
      margin: 0 64px 0;

      @media screen and (max-width: 1440px) {
        margin: 0 20px 0 40px;
      }

      @media screen and (max-width: 1024px) {
        margin: 64px 0 0;
        width: min(800px, calc(100% - 40px));
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: flex-start;
      }

      // Details
      & .details {
        flex: none;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1024px) {
          flex-direction: row;
          width: min(800px, calc(100% - 20px));
        }

        @media screen and (max-width: 767px) {
          flex-direction: column;
          justify-content: flex-start;
        }

        @media screen and (max-width: 480px) {
          margin: 48px 0 0;
        }

        & .detail {
          width: min(360px, calc(100% - 20px));
          margin: 0 0 40px;

          @media screen and (max-width: 1024px) {
            width: 100%;
          }

          @media screen and (max-width: 480px) {
            width: min(360px, calc(100% - 20px));
          }

          & h3 {
            color: $color--light-100;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            margin: 0 0 24px;

            @media screen and (max-width: 767px) {
              font-size: 32px;
              line-height: 40px;
            }

            @media screen and (max-width: 400px) {
              font-size: 28px;
              line-height: 32px;
            }
          }

          & .text {
            color: $color--red-100;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;

            & p {
              margin-bottom: 24px;
            }

            & strong {
              color: $color--light-100;
              font-weight: 700;
            }
          }
        }
      }

      & .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        & .info-item {
          display: flex;
          flex-direction: column;
          margin: 0 0 24px;

          & .label {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $color--red-200;

            @media screen and (max-width: 1024px) {
              font-size: 19px;
            }

            @media screen and (max-width: 480px) {
              font-size: 18px;
            }
          }

          & a {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $color--light-100;
            width: max-content;
            transition: opacity 0.3s;
            border-radius: 4px;

            @media screen and (max-width: 480px) {
              font-size: 24px;
            }

            &:hover {
              color: $color--red-100;
            }

            &:focus-within {
              box-shadow: 0 0 0 4px lightgreen;
            }
          }
        }
      }
    }
  }
}
